[submodule "src/main/c/cubiomes"]
	path = src/main/c/cubiomes
	url = https://github.com/xpple/cubiomes
[submodule "jextract"]
	path = jextract
	url = https://github.com/openjdk/jextract
	branch = jdk21
